<div id="header-div">
    <nav id="nav-bar">
        <div id="grupo-service">
            <div>
                grupo
            </div>
            <div>
                services
            </div>
        </div>
    </nav>
</div>